.icon_search{
  text-align:center;
  display:table-cell;
  vertical-align:middle;
}

div.col-lg-2.col-md-2.col-sm-2.col-xs-2.Column_Search{
  background-color:#aaaaaa;
  height:25px;
  display:table;
  text-align:center;
}

.Column_SP{
}

h1{
  border:2px solid #ff3100;
  border-radius:10px 10px 0px 0px;
  background-color:#ff3100;
  color:#ffffff;
  font-size:20px;
  padding:10px;
}

.thongTinSP{
  text-align:center;
  color:#56d71a;
}

input.inputSearch{
  border:2px solid rgb(207,206,206);
  border-radius:12px;
  width:128%;
}

.Column_Search{
  border:2px solid rgb(207,206,206);
  border-radius:12px;
}

h1.h1LoaiRuou{
  color:#ffffff;
  border-radius:10px 10px 0px 0px;
}

div .sanpham img{
  width:100%;
}

body{
  margin:0;
}

.sanpham{
}

.danhSachSanPham{
  border:2px solid #ff3100;
  padding:0px;
  margin:0px;
  margin-top:-10px;
  border-top:none;
}

div.row.dssanpham{
  border-top:1px dashed #000000;
}

.dinhdang{
  height:100%;
}

